:root {
  --dark-blue: #222831;
  --mid-dark: #393e46;
  --white: #eeeeee;
  --light-blue: #00adb5;
}
body {
  font-family: "Roboto", sans-serif;
}
.main-btn,
.main-btn:hover {
  background-color: var(--light-blue);
  color: var(--white);
  padding: 0.5rem 1rem;
}
.main-title::after {
  position: absolute;
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--light-blue);
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.container h2 {
  font-family: "Cardo", serif;
  font-weight: 700;
  font-size: 2rem;
  color: var(--dark-blue);
}
/* start nav */
.navbar {
  background-color: var(--dark-blue);
  position: sticky;
  transition: background-color 0.3s ease;
}
.navbar.transparent {
  background-color: rgba(25,40,63,0.8)
}
.navbar .navbar-nav .nav-link {
  color: var(--white);
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--light-blue);
}
.navbar .search {
  border-left: 1px solid var(--light-blue);
}
.navbar .search {
  color: var(--light-blue);
}
.navbar .navbar-toggler {
  color: var(--white);
  border-color: var(--white);
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  box-shadow: none;
  border-color: var(--light-blue);
}
/* end nav */
/* start landing */
.landing {
  position: relative;
  background-color: var(--dark-blue);
  min-height: calc(100vh - 72px);
}
.landing .wave {
  z-index: 1;
}
.landing::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../imgs/circle-scatter-haikei.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 0;
}
/* .landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../imgs/wave-top.svg);
  background-repeat: no-repeat;
  background-position: top;
  z-index: 0;
} */
.landing h1 {
  color: var(--white);
  font-family: "Cardo", serif;
  font-weight: 700;
  font-size: 3rem;
}
/* end landing */
/* start features */
.features .icon-holder {
  height: 200px;
}
.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}
.features .icon-holder .number {
  font-size: 12rem;
  color: var(--white);
}
.features .icon-holder .icon {
  color: var(--light-blue);
  font-size: 4rem;
}
.features .feat h4 {
  font-family: "Cardo", serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--mid-dark);
}
/* end features */
/* start our-work */
.our-work {
  background-color: var(--white);
}
.our-work ul .active {
  background-color: #00adb5;
  color: var(--white);
  border-radius: 40%;
}
.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.our-work ul li:not(.active):hover {
  color: var(--light-blue);
}
.our-work .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
}
.our-work .box::before {
  content: attr(data-work);
  position: absolute;
  background-color: rgba(51 209 204 / 76%);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--white);
  transition: 0.3s;
  font-size: 1.5rem;
  transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover::before {
  transform: translateX(0);
}
/* end our-work */
/* start stuff */
.container .description {
  max-width: 500px;
}
/* end stuff */
/* start team  */
.team {
  background-color: var(--white);
}
.team .h2 {
  color: var(--mid-dark);
}
.team h4 {
  background-color: var(--light-blue);
  font-family: "Cardo", serif;
  font-weight: bold;
}
/* end  team  */
/* start pro */
.start-project {
  background-color: var(--dark-blue);
}
/* end pro */
/* start sub */
.sub {
  background-color: var(--light-blue);
}
.sub input[type="text"] {
  border: none;
  border-bottom: 1px solid white;
}
.sub input[type="text"]:focus {
  outline: none;
}
.sub a {
  background-color: var(--dark-blue);
}
.sub::placeholder {
  color: var(--white);
}
.sub input[type="submit"] {
  background-color: var(--dark-blue);
  color: var(--light-blue);
}
/* end sub */
/* start footer */
.footer {
  background-color: var(--dark-blue);
}
.footer  span {
  color: var(--light-blue);
}
.footer .contact ul svg {
  width: 20px;
  height: 20px;
}
.footer .facebook {
  background-color: #1877f2;
}
.footer .twitter {
  background-color: #1da1f2;
}
.footer .linkedin {
  background-color: #0077b5;
}
.footer .youtube {
  background-color: #ff0000;
}
/* End Footer */

